* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    top: 0 !important;
}
.navbar-navs li {
    margin-left: 25px;
}
div#google_translate_element {
    width: 147px;
    overflow: hidden;
    position: relative;
    height: 34px;
    padding-top: 5px;
    border-radius: 0;
}
.videos_page .bigheading img ,.allbooks_page .bigheading img,.article-main .bigheading img{
  margin: 15px auto 0;
}
iframe#\:2\.container {
    height: 0 !important;
}
.goog-te-gadget-simple .goog-te-menu-value span {
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 15px;
    color: white;
    background: #4355f4;
    padding: 12px 9px;
}

.bgbanner .cont .header {
    width: 100% !important;
    padding: 13px 0 0;
}

.nav-item.nav-link {
    color: #595959;
    padding: 0 19px !important;
}

.bgbanner .cont {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.bgbanner .cont .navbar-nav {
    display: flex;
    flex-direction: unset;
}

.bgbanner .cont .navbar-nav li {
    padding: 0px 20px;
}

.bgbanner .cont .navbar-nav li a {
    color: #000000;
    text-decoration: navajowhite;
    font-weight: 400;
    font-size: 18px;
}

.header .prenur {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
}

.header h6 a {
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
}

.header h6 {
    font-family: Darker Grotesque;
    font-size: 32px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0px;
}

.banner-text h2 {
    color: #171717;
    font-size: 44px;
    font-weight: bold;
}

.banner-text h6 {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.55;
}

.banner-text h1 {
    background:#4355f4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 47px !important;
    font-weight: bold;
    line-height: 1;
    margin-top: 23px;
}

.banner-text img {
    width: 100%;
}

.banner-text {
    padding: 40px 0 0px;
}

.banner-text h1 span {
    position: relative;
    z-index: 1;
    margin-left: 13px;

}

.nav-item.nav-link.active {
    font-weight: 500;
    color: #101020;
}

.banner-text h1 span img {
    display: block;
    position: absolute;
    right: 0;
    bottom: -10px;
}

.banner-text p {
    color: #101020;
    font-size: 17px;
    font-weight: 400;
    margin: 15px 0 !important;
    max-width: 660px;
    width: 81%;
}

.banner-text p span {
    color: #ff8100;
    font-weight: 700;
}

.banner-text h2 span {
    border-bottom: 3px solid #c91414;
}

.banner-text h6 {
    font-size: 31px;
    line-height: 44px;
    margin: 15px 0 28px;
    font-weight: bold;
}

.banner-text h6 strong {
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
}

.banner-text h3 {
    margin: 60px 0;
    font-family: 'Dancing Script', cursive;
    font-size: 43px;
    font-weight: 400;
    line-height: 41px;
}

a.nav-item.nav-link.active {
    font-weight: 600;
}


.bigheading img {
    width: 225px;
    display: block;
    height: 8px;
    margin-top: 8px;
}

.abt-text p {
    color: #101020;
    line-height: 1.8;
}

.abt-img img {
    width: 86% !important;
    height: 100%;
}

.bigheading {
    font-family: Poppins;
    font-size: 45px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    margin-bottom: 35px;
    margin-top: 152px;
}

/*end*/
.graphic_image {
    position: absolute;
    top: 102px;
    right: -113px;
    width: 237px;
    animation: mover 1s infinite  alternate;
}

.abt-text {
    padding-top: 40px;
    position: relative;
}

.growup {
    padding: 132px 0px 54px;
    position: relative;
}

img.graphic2 {
    position: absolute;
    left: 0;
    top: 0;
    animation: mover 1s infinite  alternate;
}

.grow-inner {
    box-shadow: 0 0 33px #0e0e0e24;
    padding: 27px 26px;
    border-radius: 15px;
    background-color: white;
}

#video_section h2.bigheading {
    margin: 0;
}

#video_section {
    margin: 112px 0;
    position: relative;
}
.goog-te-menu-value img {
    margin: 0 !important;
    width: 0px;
}
.goog-te-menu-value span ~ span {
    border: 0 !important;
    color: white !important;
}
#video_section iframe {
    border: 0;
    width: 100%;
}

.view-all {
    float: right;
    font-size: 19px;
    text-transform: capitalize;
    padding-top: 17px;
}

#video_section .bigheading img {
    width: 155px;

}

.design_image {
    position: absolute;
    top: -20px;
    z-index: -5;
    left: -11px;
    animation: mover 1s infinite  alternate;
    height: 100%;
}

.design_image2 {
    position: absolute;
    bottom: -20px;
    z-index: -5;
    right: -11px;
    animation: mover 1s infinite  alternate;
    height: 100%;
}

.article-main {
    position: relative;
}

.grow-inner h2 {
    font-weight: bold;
    font-size: 25px;
}

.grow-inner p {
    font-size: 14px;
    color: #101020;
    line-height: 1.9;
}

.container {
    position: relative;
}

.grow-inner span {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    display: block;
    margin-top: 16px;
    color: #101020;
}

.rdmre-btn {
    background: #131313;
    color: #fff;
    padding: 11px 28px;
    font-size: 16px;
    border: 1px solid transparent;
    display: inline-block;
    margin: 16px 0;
    border-radius: 3px;
}
.companys-logo img {
    width: 100%;
}
a.rdmre-btn:hover {

    color: white;
}
.pad80 .bigheading img {
  
    margin: 15px 0 0;
}

.latest_blog_sidebar h2 img {
    width: 199px;
    display: block;
    margin-top: 6px;
}

.flash-col p {
    line-height: 1.9;
    color: #050505;
    margin-top: 12px;
}

.md-hd {
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
    color: #0F0F0F;
}

.pill {
    padding-top: 28px !important;
}

.pill img {
    width: 100% !important;
}

.pl80 {
    padding-left: 80px;
}

.pr80 {
    padding-right: 80px;
}

.inner-row img {
    width: 100% !important;
}

.Entrepreneur-sec img {
    width: 100% !important;
    object-fit: cover;
    max-width: 400px;
}

.lft-img img {
    width: 100% !important;
    height: 100%;
}

.bookimg {
    position: relative;
    z-index: 1;
}

.exper-img {
    position: relative;
    z-index: 1;
}


.exper-img>div img {
    max-width: 350px;
    height: 220px;
    object-fit: cover;
    box-shadow: 0 0 32px #262626c2;
}

.exper-main {
    padding: 85px 0 110px;
}

.exper-col p {
    margin-bottom: 49px;
    line-height: 1.8;
}


.compny-sec {
    padding-top: 0px;
}

figure img {
    width: 100%;
}

.bookimg figure {
    max-width: 300px;
    height: 380px;
    object-fit: cover;
}

.top_header img {
    width: 100%;
    height: 20px;
    position: relative;
    top: -4px;
}

.nav-item.nav-link:hover {
    color: #395ff5 !important;
}

.flash-col {
    padding-left: 49px;
}

.md-hd:before {
    content: "01";
    position: absolute;
    left: 0;
    color: #d9d9d9;
}

.flash-col:nth-child(2) .md-hd:before {
    content: "02";
    position: absolute;
    left: 0;
    color: #d9d9d9;
}

.book-sec .bigheading {
    margin: 0;
}

.view-all {
    float: right;
    font-size: 19px;
    text-transform: capitalize;
}

section.book-sec {
    margin-top: 86px;
}

.forbcol img {
    width: 100%;
}

.article-text {
    padding: 20px 0 0;
}

.article {
    background: white;
    padding: 20px;
    min-height: 398px;
    border-bottom: 3px solid #ffa800;
    border: 1px solid #dbdbdb;
}

.article-main h2.bigheading {
    margin: 0;
}

section.article-main.pt-0.bg.pad80.line {
    margin-top: 108px;
}

.companys-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px #80808029;
    height: 100%;
}

section.article-main.pt-0.bg.pad80.line {
    margin-top: 144px;
    margin-bottom: 112px;
}

.compny-sec .bigheading img {
    display: block;
    margin: 25px auto 0;
}

.article a.rdmre-btn {
    background: transparent;
    color: black;
    padding: 0;
    margin: 0;
}

.article img {
    width: 100% !important;
    height: 203px;
    object-fit: cover;
}

.article-text {
    padding: 20px 0 0;
}

.ft-img img {
    width: 100% !important;
}

.ft-outer .row {
    align-items: center;
}

.ft-form {
    background: #ffa800;
    padding: 40px;

    border-radius: 0px 0px 20px 0px;
}

#subscribe2 {
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000;
    background: transparent;
}

.ft-form .form-control::placeholder {
    color: #000 !important;

}

.ft-form .btn {
    background: #000 !important;
    border: navajowhite;
    border-radius: unset;
    font-size: 16px;
    padding: 10px;
}

.ft-img {
    padding: 0;
}

.copyright {
    background: #1A1A1A;
    text-align: center;
    padding: 70px 0;
    margin: 80px 0 0;
}
.video-main {
    position: relative;
    display: inline-block;
  }
  
  .video {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background: transparent;
    color: #fff;
    display: inline-block;
    z-index: 999;
  }
  
  @keyframes waves {
    0% {
      -webkit-transform: scale(0.2, 0.2);
      transform: scale(0.2, 0.2);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
      opacity: 0.9;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    100% {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
  }
  
  .fa-play:before {
    content: "\f04b";
  }
  
  .waves {
    position: absolute;
    width: 150px;
    height: 150px;
    background:rgb(255 168 0 / 16%);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border-radius: 100%;
    right: -50px;
    bottom: -50px;
    z-index: -1;
     -webkit-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
  }
          
  .wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  
  .wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .videodv {
    position: relative;
}
.videos_page iframe {
    width: 100%;
}
/* .navbar-toggler-icon {
    filter: invert(100);
} */
.navbar-toggler:focus {
  
    box-shadow: none;
}
.goog-te-banner-frame {

    box-shadow: none;
    _position: absolute;
}
img.goog-te-gadget-icon {
    display: none;
}
.video_animation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.copyright a {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}
.exper-main {
    position: relative;
    z-index: 1;
    margin-top: 0;
}


.line .bigheading {
    position: relative;
    z-index: 1;
}

.exper-img img {
    width: 100%;
}



.video_animation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.modal-body iframe {
    width: 100%;
    object-fit: cover;
}

.modal-header {
    border: 0;
}

.modal-content {
    background: transparent;
}

.modal-dialog {
    max-width: 699px;
    margin: 1.75rem auto;
    /* background: white; */
    border-radius: 0;
}

#carouselExample:after {
    background: linear-gradient(to right, #fc4a1a, #f7b733);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    position: absolute;
    content: '';
    top: 6px;
    width: calc(100%);
    height: calc(100% + 20px);
    z-index: -1;
    left: 29px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.article-text h3 {
    font-size: 18px;
    height: 68px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.book-sec .graphic_image {
    top: -168px;
    width: 182px;
    right: -87px;
    z-index: -1;
}
.allbooks_page h3 {
    height: auto !important;
}
.allbooks_page .article {
 
    min-height: 323px;
  
}
.allbooks_page .article img {
    width: 100% !important;
    height: 267px;
    object-fit: cover;
}

.product-des img {
    width: 100%;
}

.blogs a:hover {
    color: black;
}

.blog_heading {
    margin-top: 27px;
}

.Blog_page_sidebar {
    display: flex;
    justify-content: space-between;
}

.blog_image img {
    width: 100%;
}

.Blog_page_sidebar {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.image-blog img {
    height: 69px;
    width: 93px;
    object-fit: cover;
}

aside {
    background: transparent;
    border-radius: 0;
    height: auto;
    position: sticky;
    top: 0;
    border: 2px solid #9751c9;
}

.product-des strong {
    font-size: 20px;
    margin-top: 32px;
    display: block;
    margin-bottom: 14px;
    color: #050505; 
}

.Blog_page_sidebar .blog_detail {
    width: 100%;

}

.latest_blog_sidebar>h2 {
    color: black;
    font-weight: bold;
    padding: 24px 11px 10px;
}

.blogs {
    display: flex;
    justify-content: start;
    padding: 13px 13px;
    border-bottom: 2px solid #f8eeff;
}

div#\:0\.targetLanguage {
    background: white;
    border: 0 !important;
}

.social_links img {
    width: 20px;
}

.image-blog {
    width: 89px;
    margin-right: 15px;
}

.blog-detail-siebar h2 {
    color: black !important;
    font-size: 17px;
}
.banner-text a.rdmre-btn:hover {
  color: white;
}
.rdmre-btn {
    display: inline-block;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
}

.rdmre-btn:hover:before {
    width: 24px;
    height: 23px;
}

/* .rdmre-btn:before {
    pointer-events: none;
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    bottom: -1px;
    left: -2px;
    background: white;
    background: linear-gradient(45deg, #121212 45%, #aaa 50%, #ccc 56%, white 80%);
    box-shadow: 1px -1px 1px rgb(0 0 0 / 40%);
    transition-duration: 0.3s;
    transition-property: width height;
} */
a.rdmre-btn:hover {
    color: #128afd;
}
.profile_img img {
    width: 47%;
    height: 100%;
    float: left;
    padding-right: 20px;
}

.profile_page {
    display: flex;
    flex-wrap: wrap;
}

.profile_img img {
    width: 41%;
    height: 100%;
    float: left;
}

/* .exper-main .rdmre-btn:before {

    background: linear-gradient(45deg, #fe9f00 45%, #aaa 50%, #ccc 56%, white 80%);

} */

.social_links a {
    margin-right: 19px;
}

.social_links {
    padding: 11px 0 10px;
}

.bigheading {
    font-weight: bold;
}

.bookimg {
    padding: 11px 13px;
    background: #F6F6F6;
}

.bookimg h2 {
    font-size: 19px;
    font-weight: bold;
    margin-top: 14px;
}

.bookimg p {
    font-size: 15px;
    margin-bottom: 1px;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.top_header {
    display: none;
}